#order .right{float:right; width:320px;}
#order .good_cont_bord{padding:5px; margin:5px; border:1px solid #8383ff; background-color: #c0c0ff; }
#order .good_cont1{padding:10px; background-color: #fff;}
#order .good_cont1 .name{width:200px; float:left; text-align: left;}
#order .good_cont1 .name a{font-size: 15px;}

#order .good_cont1 .photo{width:60px; float:left;}
#order .good_cont1 .price{width:200px;  color:black; text-align: left;}
#order .good_cont1 .all_price{margin-top:4px;text-align: left;}

#order .order_items{margin-top:0px; float:left; width:580px;}
#order .order_item{margin:15px 10px 0px 10px;}
#order .order_item a{font-size: 15px;}
#order .order_item span a{font-size: 13px;}

#order .order_item .label{width:150px; float:left; color:black; font-size: 13px; font-weight: bold; text-align: left;}
#order .order_item .data{width:400px; float:left; text-align: left; }
#order .order_item .label2{color:black; font-size: 13px; font-weight: bold; text-align: left; margin:5px 10px 5px 0px;}
#order .order_item .data2{ text-align: left; }
.red{color:red; font-weight: bold;}


.discount{
    position: absolute;
    background-repeat: no-repeat;
    right:0px;
    bottom:0px;
    color:#c66400;
    font-family: Arial;
    font-weight:bold;
    text-align: center;
    display:block;
}

.discount-small{
    width: 48px;
    height: 33px;
    background-image: url('/img/discount_small.png');
    font-size:16px;
    padding-top: 15px;
}

.discount-big{
    width: 106px;
    height: 72px;
    background-image: url('/img/discount_big.png');
    font-size:33px;
    padding-top: 33px;
}

.relative{
    position: relative;
    display:block!important;
}

.order_button_view{
    height: 41px;
    width: 141px;
    background: url(/img/order.png) no-repeat top left;
    display: inline-block;
}  
.order_button_view:hover{
    background-position: 0 -91px;
}
.order_button_view:active{
    background-position: 0 -182px;
}