
.popup_block{
top: 50px;
}




#fade { 
                display: none; 
                background: #000;
                position: fixed; left: 0; top: 0;
                width: 100%; height: 100%;
                opacity: .60;
                z-index: 9999;
            }