
.popup_block{
top: expression(eval(document.body.scrollTop + 50) + "px");
}


#fade { 
                display: none; 
                background: #000;
                position: fixed; left: 0; top: expression(eval(document.body.scrollTop) + "px");
                width: 100%; height: 100%;
                opacity: .60;
                z-index: 9999;
            }