#mapContainer
{background: transparent url('img/map_rus/main.jpg') no-repeat;
height:569px; width:1000px;}
#mapArea
{height:569px; width:1000px;}



::-webkit-input-placeholder {
    color: #999;
    font:13px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    font-style: italic;
}
:-moz-placeholder {
    color: #999;
    font:13px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    font-style: italic;
}
.placeholder {
    color: #999;
    font:13px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    font-style: italic;
}


.submit3 {
    width: 120px;
    height: 32px;
    padding: 0 0 2px;
    font: 14px "Trebuchet MS", Tahoma, Arial, sans-serif;
    outline: none;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
    color: #555;
    border: 1px solid #BBB;
    border-top: 1px solid #D0D0D0;
    border-bottom: 1px solid #A5A5A5;
    text-shadow: 1px 1px #FAFAFA;
    box-shadow:
        inset 0 1px #F5F5F5,
        inset 1px 0 #EDEDED,
        inset -1px 0 #EDEDED,
        inset 0 -1px #E7E7E7,
        0 2px #B2B1B1,
        0 3px #A5A5A5,
        0 4px 2px rgba(0,0,0,0.4)
    ;
    background: -moz-linear-gradient(top,  #eeeeee 0%, #e2e2e2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#e2e2e2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 0%,#e2e2e2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 0%,#e2e2e2 100%); /* IE10+ */
    background: linear-gradient(top,  #eeeeee 0%,#e2e2e2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
    background-color: #E8E8E8;
}
.submit3::-moz-focus-inner{border:0}
.submit3:hover {
    border-top: 1px solid #C2C2C2;
    box-shadow:
        inset 0 1px #EFEFEF,
        inset 1px 0 #EDEDED,
        inset -1px 0 #EDEDED,
        inset 0 -1px #EDEDED,
        0 2px #B2B1B1,
        0 3px #A5A5A5,
        0 4px 2px rgba(0,0,0,0.4)
    ;
    background: -moz-linear-gradient(top,  #e4e4e4 0%, #e9e9e9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4e4e4), color-stop(100%,#e9e9e9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e4e4e4 0%,#e9e9e9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e4e4e4 0%,#e9e9e9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e4e4e4 0%,#e9e9e9 100%); /* IE10+ */
    background: linear-gradient(top,  #e4e4e4 0%,#e9e9e9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#e9e9e9',GradientType=0 ); /* IE6-9 */
    background-color: #E8E8E8;
}      
.submit3:active {
    top: 3px;
    border: 1px solid #B9B9B9;
    border-top: 1px solid #959595;
    border-bottom: 1px solid #CACACA;
    background: #E3E3E3;
    box-shadow: inset 0 1px 2px #B9B9B9;
}

.submit2 {
    width: 150px;
    height: 32px;
    padding: 0 0 2px;
    font: 14px "Trebuchet MS", Tahoma, Arial, sans-serif;
    outline: none;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
    color: #42788E;
    text-shadow: 1px 1px #B6E6F9;
    border: 1px solid #60A7C1;
    border-top: 1px solid #8CC5D9;
    border-bottom: 1px solid #4191B0;
    box-shadow:
        inset 0 1px #CDEFFB,
        inset 1px 0 #A8E2F8,
        inset -1px 0 #A8E2F8,
        inset 0 -1px #8DD9F5,
        0 2px #589CB6,
        0 3px #4E8AA1,
        0 4px 2px rgba(0,0,0,0.4)
    ;
    background: -moz-linear-gradient(top,  #abe4f8 0%, #74d0f4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#abe4f8), color-stop(100%,#74d0f4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #abe4f8 0%,#74d0f4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #abe4f8 0%,#74d0f4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #abe4f8 0%,#74d0f4 100%); /* IE10+ */
    background: linear-gradient(top,  #abe4f8 0%,#74d0f4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abe4f8', endColorstr='#74d0f4',GradientType=0 ); /* IE6-9 */
    background-color: #8CD8F6;
}
.submit2::-moz-focus-inner{border:0}
.submit2:hover {
    border-top: 1px solid #79ACBE;
    box-shadow:
        inset 0 1px #B2E6F8,
        inset 1px 0 #A8E2F8,
        inset -1px 0 #A8E2F8,
        inset 0 -1px #A8E2F8,
        0 2px #589CB6,
        0 3px #4E8AA1,
        0 4px 2px rgba(0,0,0,0.4)
    ;
    background: -moz-linear-gradient(top,  #80d4f5 0%, #92dbf6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#80d4f5), color-stop(100%,#92dbf6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #80d4f5 0%,#92dbf6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #80d4f5 0%,#92dbf6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #80d4f5 0%,#92dbf6 100%); /* IE10+ */
    background: linear-gradient(top,  #80d4f5 0%,#92dbf6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80d4f5', endColorstr='#92dbf6',GradientType=0 ); /* IE6-9 */
    background-color: #8CD8F6;
}
.submit2:active {
    top: 3px;
    border: 1px solid #72AFC5;
    border-top: 1px solid #5C8D9F;
    border-bottom: 1px solid #7DBFD8;
    background: #8CD6F3;
    box-shadow: inset 0 1px 2px #50A5C5;
}


.submit {
    width: 150px;
    height: 32px;
    padding: 0 0 2px;
    font: 14px "Trebuchet MS", Tahoma, Arial, sans-serif;
    outline: none;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
    color: #5D7731;
    text-shadow: 1px 1px #D0E5A4;
    border: 1px solid #89A94D;
    border-top: 1px solid #AAD063;
    border-bottom: 1px solid #6D883B;
    box-shadow:
        inset 0 1px #E0EEB6,
        inset 1px 0 #C6E08D,
        inset -1px 0 #C6E08D,
        inset 0 -1px #B4D579,
        0 2px #799545,
        0 3px #6D883B,
        0 4px 2px rgba(0,0,0,0.4)
    ;
    background: -moz-linear-gradient(top,  #cae285 0%, #a3cd5a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cae285), color-stop(100%,#a3cd5a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cae285 0%,#a3cd5a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cae285 0%,#a3cd5a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cae285 0%,#a3cd5a 100%); /* IE10+ */
    background: linear-gradient(top,  #cae285 0%,#a3cd5a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cae285', endColorstr='#a3cd5a',GradientType=0 ); /* IE6-9 */
    background-color: #B6D76F;
}
.submit::-moz-focus-inner{border:0}
.submit:hover {
    border-top: 1px solid #98B85B;
    box-shadow:
        inset 0 1px #CCE3A1,
        inset 1px 0 #C6E08D,
        inset -1px 0 #C6E08D,
        inset 0 -1px #C7E18E,
        0 2px #799545,
        0 3px #6D883B,
        0 4px 2px rgba(0,0,0,0.4)
    ;
    background: -moz-linear-gradient(top,  #abd164 0%, #b9d972 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#abd164), color-stop(100%,#b9d972)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #abd164 0%,#b9d972 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #abd164 0%,#b9d972 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #abd164 0%,#b9d972 100%); /* IE10+ */
    background: linear-gradient(top,  #abd164 0%,#b9d972 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abd164', endColorstr='#b9d972',GradientType=0 ); /* IE6-9 */
    background-color: #B6D76F;
}
.submit:active {
    top: 3px;
    border: 1px solid #88A84E;
    border-top: 1px solid #6E883F;
    border-bottom: 1px solid #95B855;
    background: #A7CF5F;
    box-shadow: inset 0 1px 2px #779441;
}


/*popup_block*/

        
        
            .popup_block{
                display: none;
                float: left;
                position: fixed;
                top: 50%; 
                left: 50%;
                z-index: 99999;
                border:3px solid #9a9a9a;
                -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
                background:#fff;
                padding-bottom:13px;
                color: #5E5E5E; font-family: Tahoma; font-size: 13px; 
                text-align: center;}
                
            
            .popup_block a.close:link ,
            .popup_block a.close:visited  
            {  
                display:block;
            
                font-size:11px;
                font-weight:bold;
            
                position:absolute;
                top:8px;
                right:15px;
                text-decoration:none;
                width:19px;
                height:19px;
            }
        
            
            *html #fade {
                position: absolute;
            }
            
            *html .popup_block {
                position: absolute;
            }
            #popupcontent{margin-top: 10px; margin-bottom: 20px; color: #5E5E5E; font-family: Tahoma; font-size: 13px; }
            #popupcontent span{color: #5E5E5E; font-family: Tahoma; font-size: 15px; font-weight: bold;}
            #popupheader{width:133px; background: url(/img/logo_small.png) no-repeat; height:29px; margin-left:10px; margin-top:5px; background-size: 100%;}
/*END OF POPUP*/

.clr{clear:both;}

img{border:0px;}
body{color: #6e6e6e; font-family: Tahoma; font-size: 13px; margin:0px;}

a:link,
a:visited{color: #6363fb; font-family: Tahoma; font-size: 13px;  text-decoration: underline;}
a:hover {text-decoration:none;}

#line{width:100%;background-color:#67c467;height:3px;}
header{display: block; margin: 0 auto; width:1002px; border-bottom:1px solid #e1e1e1; height:125px;}
#logo{float:left;width:326px;height:117px;}
#h_right{float:right;width:664px;height:117px;padding-left:12px;}

#h_right_menu{height:26px;padding-top:5px; background-color: #f8f8f8;}

.news_cont{margin:25px 0px;}

#h_right_menu .left{float:left;width:360px; padding-left:16px;} 
#h_right_menu .left a:link,
#h_right_menu .left a:visited{color: #454545; font-family: Tahoma; font-size: 12px;  text-decoration: underline;}
#h_right_menu .left a:hover {text-decoration:none;}


#h_right_menu .right{
    float:right;padding-left: 23px;width:90px;
    background-image: url(img/plus.png); 
    background-repeat: no-repeat; background-position: 0% 50%;} 

#h_right_search{float:left;height:75px;padding-top:16px;width:426px;}
#h_right_login{float:right;height:75px;padding-top:16px; padding-right:10px;width:220px; text-align:right;}

#select_s_reg{width:200px;}
#s_region_cont{margin-top:10px;}
#s_region_cont .left{float:left; width:120px;margin-top:5px;}
#s_region_cont .right{float:left;width:200px;}


hr{color: #e1e1e1; 
    background-color:#e1e1e1;
    border:0px none;
    height:1px;
    width:100%;}

.text_f{
padding: 5px;
        font-size: 14px;
        text-shadow: 0px 1px 0px #fff;
        outline: none;
        background: -webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#ffffff));
        background: -moz-linear-gradient(top,  #e9e9e9,  #ffffff);
        width:280px;
        border-radius: 4px;
        border: 1px solid #aaaaaa;
}





.vote-result{
    
}
#rating_stars{
    position:absolute;
    top: 10px;
    left: 300px;
}
.back-call-btn{
    position:absolute;
    top:5px;
    right:5px;
    width:202px;
    height:48px;
    display:block;
    color:white;
    background-color: #63bc48;
    text-shadow: 0px 1px 1px #0c3200;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none!important;
    border-radius: 5px;
    font-weight: normal;
    border:0;
    cursor:pointer;
    text-align: center;
}
.back-call-btn:hover{
    background-color: #76ce5b;
}



.popup-contacts{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    min-height:90px;
    background-color: #d4d4d4;
    box-shadow: 0px 1px 2px #aaaaaa;
}
.popup-contacts .inner-wrap{
    width:1000px;
    margin:0 auto;
}

.popup-contacts .inner-wrap .left{
    width:450px;
    float:left;
    padding:5px 0 5px 0;
}
.popup-contacts .inner-wrap .left img{
    float:left;
    height:80px;
    margin-right:10px;
}
.popup-contacts .inner-wrap .left .name{
    color: #424242;
    font-size: 15px;
    font-weight:bold;
    margin-bottom:10px;
}
.popup-contacts .inner-wrap .left span{
    font-size: 14px;   
}
.popup-contacts .inner-wrap .left span span{
    font-weight:bold;
}

.popup-contacts .inner-wrap .right{
    width:450px;
    float:right;
    padding:5px 0 5px 0;
    text-align:right;
}
.popup-contacts .inner-wrap .right .itm_name_cont{
    margin-bottom:5px;
}
.popup-contacts .inner-wrap .right .itm_name_cont a{
    font-size:17px
}
.popup-contacts .inner-wrap .right .user_phone_top{
    color: #424242;
    font-size: 15px;
    font-weight:bold;
    margin-bottom:5px;
}
.popup-contacts .inner-wrap .right .user_skype_top{
    color: #00ACD7; 
}









.ui-autocomplete { position: absolute; z-index:1001 !important;}
.good_text{
padding: 4px;
        font-size: 13px;
        text-shadow: 0px 1px 0px #fff;
        outline: none;
        background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ffffff));
        background: -moz-linear-gradient(top,  #f9f9f9,  #ffffff);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: 1px solid #aaaaaa;
}


.good_button {
    width: 150px;
    height: 32px;
    padding: 0 0 2px;
    font: 14px "Trebuchet MS", Tahoma, Arial, sans-serif;
    outline: none;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
    color: #5D7731;
    text-shadow: 1px 1px #D0E5A4;
    border: 1px solid #89A94D;
    border-top: 1px solid #AAD063;
    border-bottom: 1px solid #6D883B;
    box-shadow:
        inset 0 1px #E0EEB6,
        inset 1px 0 #C6E08D,
        inset -1px 0 #C6E08D,
        inset 0 -1px #B4D579,
        0 2px #799545,
        0 3px #6D883B,
        0 4px 2px rgba(0,0,0,0.4)
    ;
    background: -moz-linear-gradient(top,  #cae285 0%, #a3cd5a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cae285), color-stop(100%,#a3cd5a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cae285 0%,#a3cd5a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cae285 0%,#a3cd5a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cae285 0%,#a3cd5a 100%); /* IE10+ */
    background: linear-gradient(top,  #cae285 0%,#a3cd5a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cae285', endColorstr='#a3cd5a',GradientType=0 ); /* IE6-9 */
    background-color: #B6D76F;
}
.good_button::-moz-focus-inner{border:0}
.good_button:hover {
    border-top: 1px solid #98B85B;
    box-shadow:
        inset 0 1px #CCE3A1,
        inset 1px 0 #C6E08D,
        inset -1px 0 #C6E08D,
        inset 0 -1px #C7E18E,
        0 2px #799545,
        0 3px #6D883B,
        0 4px 2px rgba(0,0,0,0.4)
    ;
    background: -moz-linear-gradient(top,  #abd164 0%, #b9d972 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#abd164), color-stop(100%,#b9d972)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #abd164 0%,#b9d972 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #abd164 0%,#b9d972 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #abd164 0%,#b9d972 100%); /* IE10+ */
    background: linear-gradient(top,  #abd164 0%,#b9d972 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abd164', endColorstr='#b9d972',GradientType=0 ); /* IE6-9 */
    background-color: #B6D76F;
}
.good_button:active {
    top: 3px;
    border: 1px solid #88A84E;
    border-top: 1px solid #6E883F;
    border-bottom: 1px solid #95B855;
    background: #A7CF5F;
    box-shadow: inset 0 1px 2px #779441;
}


 .s_but {
width:  118px;  
height: 30px; 
margin: 0px;
padding:0px;
border: 0px;
background: transparent url(img/s_submit.jpg) no-repeat;
cursor: pointer; 
cursor: hand;
}

#main_content{ margin: 0 auto; width:1002px; margin-top:10px;}
#map_cont{width:594px; float:left;margin-right:10px;}

#map_cities{margin-top:30px; margin-left:20px;}

.reg_cont2{float:left; width:168px; margin:0px 28px 0px 0px;}
.reg_cont2 div{margin-bottom:10px; text-align: left;}
.reg_cont2 div a:link,
.reg_cont2 div a:visited{text-decoration:underline; color:#6363fb; font-family: Tahoma; font-size: 15px;  font-weight:bold;}
.reg_cont2 div a:hover {text-decoration:none;}


#ban_cont{
    padding-left:71px; padding-top:487px;
    width:327px; height:94px;   
    background-image: url(/img/b1.jpg); 
    background-repeat: no-repeat; 
    background-position: left top;
    float:left;
    margin-right:20px;
}

.register_ban_cont{
    margin-right:0px !important;
}

.main_center_row{
    margin:30px 0 10px 0;
}

#reg_b2{float:left;margin-right:10px;width:232px; margin-top:15px;}

#recommended{float:left;width:580px; margin-top:15px;}

#last_news{
    margin-top:10px;
}
#last_news h2{
    float:left;
}

.all{
    float:right;
    display: block;
    font-size: 11px;
}


.macro-news-list{
    list-style: none;
    margin:15px 0 0 0;
    padding:0px;
}

.line-list li{
    padding-top:10px;
    border-top:1px solid #e2e2e2;
}


.macro-news-list li{
    margin-bottom:10px;
}

/*.macro-news-list .line{
    border-bottom:1px solid #e2e2e2;
} */
.macro-news-list .short_text{
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
    margin-top:10px;    
}

.macro-news-list .text{
    font-size: 12px;
    margin-top:10px;    
}
.macro-news-list a:link,
.macro-news-list a:visited{text-decoration:underline; color:#6363fb; font-family: Tahoma; font-size: 13px;  font-weight:bold;}
.macro-news-list a:hover {text-decoration:none;}

.macro-news-list .date, .news_date{
    margin-top:10px;
    font-size: 11px;
}


.round_corn{
        padding: 10px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        border: 1px solid #e2e2e2;
}
.round_corn h2{color: #6b6b6b; font-family: Tahoma; font-size: 16px;padding:0px;margin:0px;}

.item_img_b{background-color: #f7f7f7; border: 1px solid #ededed; width:100px; height:100px; 
float:left; margin:33px 0px 21px 15px; background-repeat: no-repeat; background-position: center center; text-align: center; overflow: hidden;}
.item_img_b div{display: table-cell; vertical-align: middle; width:100px; height:100px;}


.item_img_text{float:left; margin:13px 0px 0px 5px; width:120px; height:173px; text-align: center; overflow: hidden;}
.item_img{background-color: #f7f7f7; width:100px; height:100px; float:left; margin:0px 0px 10px 8px; 
overflow: hidden; text-align: center;}
.item_img div{display: table-cell; vertical-align: middle; width:100px; height:100px;}


#lastshops{float:left; width:435px; margin-top:15px; margin-right:10px;}

#lastshops .item_img_margin{margin:0px 10px 0px 0px;}
#lastshops .lastshop{margin-top:17px;}
.lastshop .ls_info a:link,
.lastshop .ls_info a:visited{text-decoration:underline; color:#6363fb; font-family: Tahoma; font-size: 14px;  font-weight:bold;}
.lastshop .ls_info a:hover {text-decoration:none;}
.lastshop .ls_info div{margin-top:10px;}

#lastgoods{float:left; width:510px; margin-top:15px;}

#text{border-top:1px solid #e1e1e1; padding-top:15px; margin-top:15px; color: #6e6e6e; font-family: Tahoma; font-size: 11px;}
#text h1{color: #575757; font-family: Tahoma; font-size: 15px; padding:0px;margin:0px; margin-bottom:10px; font-weight:bold;}

article{display: block; margin: 0 auto; width:1002px;}

footer{display: block; margin: 0 auto; width:1002px;  height:96px; background-image: url('img/footer_fon.jpg');}

#f_logo{
    width:214px; 
    height:96px; 
    background-image: url('img/footer_logo.jpg');
    float:left;
    margin-right:10px;
    display:block;
}

#f_info{
    float:left;
    width:656px; 
    /*padding-left:45px;*/ 
    color: #6e6e6e; 
    font-family: Tahoma; 
    font-size: 11px;
    padding:10px 20px 0 0; 
    line-height: 1.5;
}
footer a:link,
footer a:visited{text-decoration:underline; color:#6e6e6e; font-family: Tahoma; font-size: 11px;  font-weight:bold;}
footer a:hover {text-decoration:none;}

.other-links{
    float:left;
    width:100px;
    padding-top: 20px;
}


.sort_handle{
    margin-top:10px;
    background-color: #def6de;
    padding:10px;
    border-radius: 5px;
    cursor:pointer;
}
.main-cats{
    list-style: none;
    margin:20px 0px 40px 30px;
    padding:0px;
}
.main-cat-a{
    font-size:15px;
    font-weight:bold;
}



.other-links a{
    display:block;
    height:12px;
    margin-bottom:5px;
    padding-left:23px;
}

.other-links .russia{
    background: url('/img/russia_flag.png') 0 0 no-repeat;
}

.other-links .ukraine{
    background: url('/img/ukr_flag.png') 0 0 no-repeat;
}



.wrong-cat {
    font-size: 11px !important;
    border-radius: 4px;
    padding: 3px 10px 3px 38px;
    border: 1px solid #ffd584;
    display: inline-block;
    line-height: 26px;
    background: #ffe6b7 url("/img/exclam_icon_fon.png") 5px 5px no-repeat;
    color: #b68018!important;
    font-weight: bold;  
    text-decoration: none!important;
    opacity: 0.5;  
    transition: all 0.3s linear; 
}
.wrong-cat:hover{
    color:black!important;
    opacity: 1;
}


            

.item_img_w div{
    position:relative;
}
.discount-amount{
    color:green;
    font-weight:bold;
    margin-top:5px;
}
.discount-amount span{
    color:red;
}

#main_logo{
    position:relative;
}

/*REGISTER*/
.reg_block{margin-top:10px; margin-left:20px; width:640px;}
.reg_b1{float:left; width:200px; text-align:left;  font-weight:bold;}
.reg_b2{float:left; width:235px; }
.reg_b3{float:left; width:170px; margin-left:20px; display: none;}
.reg_b_code{float:left; margin-right: 10px; }

.select_cities_list{border:5px solid #e1e1e1; margin: 5px 10px 10px 10px; padding:10px;
-webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
}

.city_select {padding-left:10px;}
.city_select div {float:left;margin-right:10px;}
.city_select div select {width:170px;}

/*EOF REGISTER*/

.send-message{
    margin:10px 0 10px 0;
}



.page_h{
    border-bottom:1px solid #e1e1e1;
    padding: 0px 0px 10px 10px; 
    margin-bottom:20px;
    white-space: nowrap; 
    text-overflow:ellipsis;
    overflow: hidden;
}

.page_h h1{color:#424242; font-family: Tahoma; font-size: 18px;padding:0px;margin:0px; font-weight:bold;}

.grey_cont{
        padding: 10px;
        font-size: 14px;
        text-shadow: 0px 1px 0px #fff;
        background: #f0f0f0;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: 1px solid #c2c2c2;}

#login_restore_pad {text-align:center; margin:30px 100px 30px 100px;}
#restore_frm{display: none;}

.error_cont{
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
border:1px solid #fb2929; margin: 10px 0px 10px 0px; padding:10px; padding-left:30px;
background-color: #ffe7e7;
background-image: url('img/close_red.png'); background-repeat:  no-repeat; background-position: 10px 10px;
color:#a70a0a;
font-weight: bold;
}

.success_cont{
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
border:1px solid #c1e1c1; margin: 10px 0px 10px 0px; padding:10px; padding-left:50px;
background-color: #def6de;
background-image: url('img/success_icon.png'); background-repeat:  no-repeat; background-position: 10px 5px;
color:#00ad00;
font-weight: bold;
}
.success_cont span{font-weight: normal;}


.login
{background-image: url('img/restricted_s.png'); background-repeat:  no-repeat; background-position: 0px 0px;
padding-left:20px;
text-align:left;
width:150px;
float:right;}

.kabinet
{background-image: url('img/kabinet.png'); background-repeat:  no-repeat; background-position: 0px 0px;
padding-left:20px;
margin-right:10px;
text-align:left;
width:80px;
float:right;}

.site
{background-image: url('img/star.png'); background-repeat:  no-repeat; background-position: 0px 0px;
padding-left:18px;
margin-right:10px;
text-align:left;
width:80px;
float:right;}

.green {color: green; font-family: Tahoma; font-size: 13px; font-weight:bold;}
.error_red {color: red; font-family: Tahoma; font-size: 13px; font-weight:bold;}
.bold{
    font-weight: bold!important;
}




.testimonials-list{
    list-style: none;
    margin:20px 0 0 0;
    padding:0;    
}
.testimonials-list li{
    margin:0 0 25px 0;
    border-bottom:1px solid #d4d4d4;
    padding:0 0 25px 0;    
}

.item-testimonials-list li{
    border-bottom:0px!important;
    margin:0 0 5px 0;
    padding:0 0 5px 0;
}
.view-all-testimonials, .add-testimonial{
    text-align:right;
    margin-bottom:10px;
     margin-top:10px;
}
.change-comment-result{
    margin-top:10px;
}
.wrong-cat-result{
    display:block;
    margin-top:10px;
}


.add-to-fav-result{
    display:block;
    margin-top:10px;
    float:left;
    width:251px;
}


.testimonials-list .comment-info{
    margin: 20px 0 0 40px;
    padding:0;
}
.item-testimonial-block  .no-testimonials{
    text-align:center;
}
.testimonials-list .comment-info li{
    border-bottom:0px;
    margin-bottom:15px;
    padding:0;
} 
.testimonials-list .comment-info li .punkt{
    font-style: italic;
}
.testimonials-list .comment-info li .data{
    font-size:14px;
    font-weight:bold;
    color:black;
    margin:4px 0 0 20px;
}


.testimonials-list li .name{
    font-size:15px;
    font-weight:bold;
    text-decoration:underline;
    margin-bottom:5px;
}
.testimonials-list li .date{
    color: #aaaaaa;
    margin-bottom:5px;
}
.testimonials-list li .text{
    color: #595959;
    margin-bottom:10px;
}
.testimonials-list li .mark{
    margin:10px 0px 15px 0px;
}
.testimonials-list li .testimonialmark{
    font-weight:bold;
     color: black;
    
}

.testimonials-list li .testimonialmark span{
    display: block;
    height:4px;
    width: 102px;
    margin-top:3px;
    background-image: url("/img/testimonials_icons.png");
}
.testimonials-list li .testimonialmark0 span{
    background-position: 0px -16px;
}
.testimonials-list li .testimonialmark1 span{
    background-position: 0px -12px;
}
.testimonials-list li .testimonialmark2 span{
    background-position: 0px -8px;
}
.testimonials-list li .testimonialmark3 span{
    background-position: 0px -4px;
}
.testimonials-list li .testimonialmark4 span{
    background-position: 0px 0px;
}

.testimonials-list li .comment{
    padding-left:10px;
    border-left:1px solid #d4d4d4;
    margin: 20px 0 0 40px;
    
}
.testimonials-list li .comment img {
    float:left;
    display:block;
    margin:0 10px 0px 0;
}
.testimonials-list li .comment .user-name{
   font-size:15px;
    font-weight:bold;
    text-decoration:underline;
    margin-bottom:10px; 
}








/*ITEMS PAGE*/

.cat_tab_cur{background-image: url('img/cat_cur.jpg'); padding-top:7px; width:196px; height:34px; margin:10px 10px 0px 10px; text-align: center; float:left;}
.cat_tab_cur a:link,
.cat_tab_cur a:visited{text-decoration:none; color:white; font-family: Tahoma; font-size: 21px;}
.cat_tab_cur a:hover {text-decoration:none;}

.cat_tab{width:196px; height:34px; padding-top:7px; margin:10px 10px 0px 10px; text-align: center; float:left;}
.cat_tab a:link,
.cat_tab a:visited{text-decoration:none; color:#188d18; font-family: Tahoma; font-size: 21px;}
.cat_tab a:hover {text-decoration:none;}
.cat_line{width:100%;background-color:#67c467;height:6px;}

#items_left{float:left;width:218px; margin:19px 10px 0px 0px;}
#items_center{float:left;width:581px; margin:19px 10px 20px 0px;}
#items_right{float:right;width:183px; margin-top:19px;}

#items_left #cat_cont{ background-color: #f8f8f8;
        padding: 10px;
        font-family : Tahoma; font-size: 19px; color: #424242;
        -webkit-border-radius: 14px;
        -moz-border-radius: 14px;
        border-radius: 14px;
        margin-bottom:30px;
}
#items_left #cat_cont #cur_cat_name{color:#6363fb; font-weight: bold; font-family : Tahoma; font-size: 13px; margin:10px 0px 0px 0px;}
#items_left #cat_cont #cur_sub_cats{margin:0px 0px 0px 10px;}
#items_left #cat_cont #cats{margin:5px 0px 0px 10px;}
#items_left #cat_cont #cats a:link,
#items_left #cat_cont #cats a:visited{text-decoration:underline; color:#494848; font-family: Tahoma; font-size: 13px; font-weight: bold;}
#items_left #cat_cont #cats a:hover {text-decoration:none;}


.items_title{background-color: #d0f8ce;
        padding: 10px;
        font-family : Tahoma; font-size: 14px; color: #0b6107;
        font-weight:bold;
        -webkit-border-radius: 14px;
        -moz-border-radius: 14px;
        border-radius: 14px;
        margin-bottom:10px;}

#items_right #regions{margin-left:15px;margin-bottom:20px;}
#items_right #regions div {margin-top:7px;}
#items_right  a:link,
#items_right  a:visited{text-decoration:underline; color:#0f6f31; font-family: Tahoma; font-size: 14px; font-weight: bold;}
#items_right  a:hover {text-decoration:none;}
#items_right #cur_city{background: url('img/ar_down.jpg') 0px 0px no-repeat; padding-left:27px;margin: 0px 0px 20px 10px; height:20px;}


h1{color:#424242; font-family: Tahoma; font-size: 24px;padding:0px;margin:0px;font-weight:normal;}
#above_block{margin: 10px 0px 10px 0px;border-bottom:1px solid #e1e1e1;padding-bottom: 10px;}
#above_block .pagination{float:left;width:440px;}
#above_block .sort{float:right;width:110px;text-align: right;}

.item_cat{ border-bottom:1px solid #e1e1e1;padding-bottom:10px;margin-bottom:23px; color:#424242; font-family: Tahoma; font-size: 14px; font-weight: bold;}
.item_img_w{background-color: #fff; width:100px; height:100px; float:left; margin:0px 10px 0px 0px; border:1px solid #e1e1e1;text-align: center; }
.item_img_w div{ width:100px; height:100px; display: table-cell; vertical-align: middle;}

.item_cat_info{width:469px; float:left;}
.item_cat_h{
    position: relative;
    overflow: hidden;
    margin-top:10px;
    height:46px;
}
.item_cat_h .shadow{
    position: absolute;
    left: 0;
    top: 16px;
    height:30px;
    width:100%;

    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */

}

.item_cat_h a:link,
.item_cat_h a:visited{text-decoration:none; color:#6363fb; font-family: Tahoma; font-size: 19px; font-weight: normal;}
.item_cat_h a:hover {text-decoration:underline;}

.item_cat_name{
        color:#9f9f9f;font-size: 11px; font-weight: normal;margin-top:3px; margin-bottom:7px;
}

.item_cat_name a:link,
.item_cat_name a:visited{text-decoration:none; color:#9f9f9f; font-family: Tahoma; font-size: 11px; font-weight: normal;}
.item_cat_name a:hover {text-decoration:underline;}



.item_cat_info .item_price{width:235px;float:left;margin-top:10px;}




.item_price span{color:#bd5f00; font-family: Tahoma; font-size: 19px; font-weight: normal;}
.item_price .item_order{margin-top:11px;
    position:relative;
}


.item_cat_info .item_user {width:234px;float:left;margin-top:15px;}
.item_cat_info .item_user div{margin-top:7px;}

.item_cat_info .item_user .user_name{
        font-weight: bold;
}
.item_cat_info .item_user .user_name a{
        color:grey;
        text-decoration: none;
}
.item_cat_info .item_user .user_name a:hover{
        text-decoration: underline;
}


.user_phone{
        color:#010101; 
        font-family: Tahoma; 
        font-size: 15px;
        background: url('img/phone_icon.jpg') 0px 0px no-repeat; 
        padding-left:15px; 
        /*height:16px;*/
        }
.item_cat_info .user_phone img{cursor: pointer; cursor: hand;}

.item_cat_info .user_phones{color:#010101; font-family: Tahoma; font-size: 15px; padding-left:15px; display:none;line-height: 1.5;}


.user_skype{color:#00acd7; font-family: Tahoma; font-size: 13px;  font-weight: normal;
background: url('img/skype_icon.jpg') 0px 0px no-repeat; padding-left:20px; height:16px;}

.verific{color:#5ab527; font-family: Tahoma; font-size: 11px;  font-weight: normal;
background: url('img/success_icon_small.png') 0px 1px no-repeat; padding-left:15px; height:13px;}


.r_path{color:black; font-family: Tahoma; font-size: 13px; font-weight: normal; padding:0px; margin:15px 0px 15px 0px;}
.r_path a:link,
.r_path a:visited{text-decoration:underline; color:black;  font-family: Tahoma; font-size: 13px;}
.r_path a:hover {text-decoration:none;}
.r_sort{margin:7px 0px 7px 0px;}


/*EOF ITEMS PAGE*/

.sep_vert{margin-top:20px}

.left{float:left;}
.right{float:right;}
.nodata{text-align:center;padding:10px; color: #5E5E5E; font-family: Arial; font-size: 13px;}

.usr_adm_menu {float:left;width:180px;margin-right:10px; margin-bottom:10px;
color:black;font-weight: bold;
background-color: #def6de;
padding: 10px;
-webkit-border-radius: 14px;
-moz-border-radius: 14px;
border-radius: 14px;

}

.usr_adm_menu a:link,
.usr_adm_menu a:visited{text-decoration:underline; font-weight: normal;}
.usr_adm_menu a:hover {text-decoration:none;}


.usr_adm_menu .adm_menu_p{margin:5px 0px 5px 0px;}

.usr_adm_data {float:left;width:790px;margin-bottom:10px;}

.usr_adm_data .header {font-size: 14px; color:black;font-weight: bold; margin-top:30px; border-bottom:1px solid #e1e1e1;
padding-bottom:5px; margin-bottom:10px}

.usr_adm_data .data {margin-left:60px;}
.usr_adm_data .label {width:200px;float:left;margin-right:20px; padding-top:5px;font-weight: bold;}
.usr_adm_data .label span {color:red;}
.usr_adm_data .input {width:510px;float:left; text-align: left;}
.usr_adm_data .input_no_tips {width:510px;float:left; text-align: left;}
.usr_adm_data .input_text{color:#ababab; font-size: 11px; margin-top:4px;}

.usr_adm_data .d_punkt{margin-top:25px;}
.usr_adm_data #img_cont{margin-bottom:10px;}
.usr_adm_data .subm_but_cont{text-align: center; margin-top:30px; margin-bottom:20px;}


/*GOODS LISTING*/

#g_battons{margin-top:13px; margin-bottom:20px;}
.grey_round_fon {
background-color: #f2f2f2;
padding: 6px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}

#g_cat_id{width:200px;}


#goods_holder_ajax{margin:15px 0px 15px 0px;}

#goods_holder{margin:0px 0px 10px 0px;}

.good_holder{margin-top:15px; border-top:1px solid #f2f2f2; padding-top:15px;}
.good_holder .ck{float:left; width:20px; padding-top:40px; margin-right:10px;}
.good_holder .info{width:440px; float:left;}
.good_holder .price{width:100px; float:left; font-weight: bold;}
.good_holder .actions{width:100px; float:left; text-align: right;}

.good_holder .info .articul{margin-top:10px; margin-bottom:10px}
.good_holder .info .articul span{color:#9f9f9f;}
.good_holder .info .articul{margin-top:10px;}


 .cat_holder{margin-top:15px; border-top:1px solid #f2f2f2; padding-top:15px;}
.folder{width:30px; height:30px; background-image: url(img/folder.png); margin-right:10px; float:left;}
.cat_name{width:669px; float:left;}
.cat_name a:link,
.cat_name a:visited{text-decoration:underline; color:#6363fb; font-family: Tahoma; font-size: 15px; font-weight: bold;}
.cat_name a:hover {text-decoration:none;}

.sel_gr{font-weight: bold; font-size: 13px;}
#group_actions{border-top:1px solid #f2f2f2;padding-top:15px;}

#group_actions #group_actions_left{float:left; width:320px;}
#group_actions #group_actions_right{float:left; width:350px;}
#group_actions #group_actions_right .group_action{margin-bottom:15px;}

#add_group_form_cont{margin-left:40px;}

.good_view_play{width:25px; height:25px; background-image: url('/img/play.png');}
.good_view_pause{width:25px; height:25px; background-image: url('/img/pause.png');}

#confirm_items_but{padding:5px; width:190px; margin:0px 0px 0px 240px;}
#confirm_items_cont{margin-top:10px;}
#confirm_items_process{ margin:5px 0px 0px 0px; display:none; text-align:center;}
/*EOF GOODS LISTING*/




/*IMG LOADER*/
.loading_images_cont{margin-top:20px;}
.one_img{width:100px; height:100px; background-color: #fff; margin:0px 0px 5px 0px; border:1px solid #e1e1e1;text-align: center;}
.one_img_cont{width:100px; height:130px; margin:0px 20px 30px 0px; text-align: left; /*border:1px solid #e1e1e1;*/}
.one_img_cont_left{float:left;}
#reportresult{text-align: center; padding-top:7px;}

/*EOF IMG LOADER*/


.empty_class{}


/*SET DESIGN*/
.th_cont{width:200px; height:170px; margin-right:20px; float:left; padding:10px;}
.th_cont .th_name{margin-top:10px; text-align: center;}
/*EOF SET DESIGN*/


/*LISTING PAGE*/

.item_holder{margin-top:15px; border-top:1px solid #f2f2f2; padding-top:15px;}
.item_holder .ck{float:left; width:20px; padding-top:5px; margin-right:10px;}
.item_holder .info{width:640px; float:left;}
.item_holder .info2{width:520px; float:left;}
.item_holder .item_param{margin-bottom:3px;}
.item_holder .item_param span{color:#9f9f9f; font-family: Tahoma; font-size: 11px; font-weight: normal;}
.item_holder .actions{width:100px; float:left; text-align: right;}

.item_holder .item_params{width:520px; float:left;}
.item_holder .actions2{width:200px; float:left; text-align: right;}


.item_box_0{-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
border:1px solid #c1e1c1; padding:10px;
background-color: #def6de;
}

.item_box_1{ padding:10px;}


.sender_name{width:120px; float:left; overflow: hidden;}
.not_read_mess1{background-color:#ecfeec; padding:5px;}

.not_read_mess2{background-color:#ecfeec; padding:10px; border-radius: 5px;}
.set_messages .actions{
    width: 30px !important;
    float: right;
}
.set_messages .item_params {
    width: 555px!important;
}
.set_messages .item_params p {
    margin:5px 0 15px 0;
}
.set_messages .sender_name p {
    margin:5px 0 15px 0;
}
.set_messages .sender_name .name{
    font-weight:bold;
    font-size:15px;
}
.set_messages .item_params .subject {
    font-size:15px;
    font-weight:bold;
}
.set_messages .item_params .subject span {
    font-weight:normal;
}
.set_messages .sender_name {
    width:155px!important;
}
.set_messages .item_params .text span {
    font-weight:bold;
    display:block;
    margin-bottom:5px;
}
.set_messages .info{
    width:710px!important;
}
.view-message{
    padding-top:10px;
}
.view-message ul{
    font-size:15px;
    list-style: none;
}
.view-message .answers{
    margin-bottom:40px;
}
.mess-data{
    margin:20px 0 40px 40px;
    padding:0;
}
.view-message h3{
    font-size:19px;
    font-weight:500;
}
.view-message ul li {
    margin-bottom:15px;
    padding-bottom:15px;
    border-bottom:1px solid grey;
}
.view-message ul li p {
    margin:5px 0 5px 0;
    font-weight: bold;
}
.mess-data li .name {
    float:left;
    width:200px;
}
.mess-data li .info{
    float:left;
    width:535px;
    color:black;
}
.mess-data li::after{
    content:"";
    display:block;
    clear:both;
}



/*EOF LISTING PAGE*/


/*PAYWAYS AND DELIVERIES PAGE*/
.pd_item{margin-top:15px; border-top:1px solid #f2f2f2; padding-top:15px;}
.pd_item_name{float:left; width:350px;}
.pd_item_action{float:left; width:50px;}
/*EOF PAYWAYS AND DELIVERIES PAGE*/

/*ITEM PAGE*/
#item_left_part{width:250px; float:left;margin-right:10px; margin-bottom:10px;}
#item_right_part{width:742px; float:left;  margin-bottom:10px;}
#item_cat_path{margin-bottom:10px;  border-bottom:1px solid #e1e1e1; padding-bottom:13px;}
#main_logo{text-align: center; margin-bottom:10px;}
#item_previews{margin-bottom:10px;}
.tiny_preview{border:1px solid #eeeeee; float:left; width:40px;height:40px; text-align: center; margin:0px 8px 10px 0px;}
.tiny_preview:hover{border:1px solid #7d7d7d; float:left; width:40px;height:40px; text-align: center; margin:0px 8px 10px 0px;}

#item_name_right{float:right;width:173px;}
#item_name_left{width:559px; float:left;margin-right:10px;
    position:relative;
}

#item_social{width:144px;
    position:absolute;
    top:0;
    right:0;
}

#item_name{width:444px;float:left;}

#item_name_bl1{float:left;width:290px; margin-top:20px;}
#item_name_bl2{float:left;width:150px; margin-top:20px;  text-align: right; }
#item_name_bl2 a{font-size: 11px;}
#item_name_bl1{color:#424242;font-family: Tahoma; font-size: 15px; font-weight: bold;}
.item_contacts{margin-top:20px; color:#010101; font-family: Tahoma; font-size: 13px; font-weight: bold;  position:relative;}
.item_contacts div{margin-top:8px;}
.item_contacts span{font-size: 15px;}
#itm_name_cont a{font-size: 17px; font-weight: normal;}
#itm_name_cont {width:330px;}
.contact_param span{color:#939393; font-family: Tahoma; font-size: 13px;}
#item_desc_block .item_desc_h{color:#424242;font-size: 15px;font-weight: bold; margin-bottom:10px;}
#item_desc_block{color:#000; margin-top:20px;}

#item_desc_block .chs{margin-bottom:20px; border-bottom:1px solid #e1e1e1;}
#item_desc_block .ch{margin-bottom:10px;}
#item_desc_block .ch .name{font-weight: bold;float:left; width:150px;}
#item_desc_block .ch .value{float:left; width:200px;}

.prototype_param{margin:10px;}                                   
.prototype_param .label {float:left; width:150px; margin-right:10px; font-weight: bold;}
.prototype_param .val {display:block; float:left; width:250px;}
#charact_cont{padding:0px 0 10px 10px;}

.send-message-product{
   display:block;
   float:right;
   text-decoration: none!important;
   width:141px;
   height:41px;  
   margin-left:0px; 
   font-size: 15px !important;
    border-radius: 4px;
    padding: 2px 10px 3px 35px;
    border: 1px solid #cfcfcf;
    line-height:17px;
    background: #e0e0e0 url("/img/envelope.png") 7px 13px no-repeat;
    color: #656565 !important;
    font-weight: 500;
      -moz-box-sizing: border-box;
    box-sizing: border-box;  
    text-decoration: none!important;
    transition: all 0.3s linear; 
     
}
.send-message-product:hover {
    color:black!important;
    background-color: #d1d1d1;
}




.small_preview{border:1px solid #eeeeee; float:left; width:100px;height:100px; text-align: center; margin:0px 10px 12px 0px;}
.small_preview:hover{border:1px solid #7d7d7d; float:left; width:100px;height:100px; text-align: center; margin:0px 10px 12px 0px;}
#small_previews{margin:20px 0px 10px 0px;}
#item_others_block{margin-top:35px;color:#424242;font-size: 15px;font-weight: bold; border-top:1px solid #e1e1e1; padding-top:7px; width:742px;}

.other_good{ float:left; width:100px; text-align: center; margin:0px 23px 0px 0px; overflow: hidden;}
.other_good a{font-weight: normal;}
.other_good div {height:100px; width:100px; margin-bottom:3px; background-color: #f7f7f7; text-align: center; display: table-cell; vertical-align: middle;}


.pop_punkt{text-align:left;margin-top:10px;}
.pop_punkt_name{float:left;width:160px; font-weight: bold; padding-left:20px;}
.pop_punkt_data{float:left;width:280px;}

#lb_header{margin:20px 0px 10px 0px; font-weight: bold; font-size: 14px;border-top:1px solid #e1e1e1;padding-top:10px;}

.lb_cont{margin-bottom:10px;}
.lb_name{font-weight: bold;}
.lb_name a{font-weight: bold;}
.lb_anons{font-size: 11px; margin-top:5px;}
#vk_like {margin-top:3px;}
/*EOF ITEM PAGE*/



/*SERVICE PAGE*/
.std_block .header
{
padding:5px 0px 0px 10px;

text-align:left;
height:25px;
-webkit-border-top-left-radius: 7px;
-moz-border-top-left-radius: 7px;
border-top-left-radius: 7px;
-webkit-border-top-right-radius: 7px;
-moz-border-top-right-radius: 7px;
border-top-right-radius: 7px;
}
.std_block .body{
border-left:1px solid #c0c0c0;
border-right:1px solid #c0c0c0;
border-bottom:1px solid #c0c0c0;
-webkit-border-bottom-left-radius: 7px;
-moz-border-bottom-left-radius: 7px;
border-bottom-left-radius: 7px;
-webkit-border-bottom-right-radius: 7px;
-moz-border-bottom-right-radius: 7px;
border-bottom-right-radius: 7px;
font-size: 13px;
padding:10px;
text-align:left;
}

.mc{width:1000px; margin:auto;}



.green_gr{
background: rgb(169,228,247); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E5ZTRmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZmI0ZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(169,228,247,1) 0%, rgba(15,180,231,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,228,247,1)), color-stop(100%,rgba(15,180,231,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=0 ); /* IE6-8 */

color:#116e8a;
font-weight: bold;
font-size: 14px;
}

.membership_tb{border: 0px;
border-collapse: collapse; 
width:100%;
}

.membership_tb .header_tb{
border: 1px solid #e6e6e6;
background-color:#fff;
height:30px;
padding:5px;
text-align:center;
color:black;
font-size:14px;
font-weight: bold;
}


.membership_tb .data_tb{/*color:#054400;*/ color:#5E5E5E; font-size: 13px; font-weight: bold;
border: 1px solid #e6e6e6;
text-align: center;
font-size: 13px;
padding:5px;
background-color: #e9fdf2;
}

.membership_tb .data_tb div {margin-bottom:10px;}
.membership_tb .data_tb span {color:#5E5E5E; font-size: 13px; font-weight: normal;}

 .membership_tb .punkt_tb{font-size: 13px; font-weight: bold;
color:black;
border: 1px solid #e6e6e6;
padding-left:15px;
height:50px;
background-color: #fff;
}


#pockets_holder{border:1px solid #f2f9ff;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
background-color:#f7fbff;padding:5px;}


#mem_explane{margin-left:30px;}
#mem_explane div {color:black; font-size: 15px; font-weight: bold; margin-top:20px;}
#mem_explane ul li{padding:3px;}


#context_explane{width:933px; height:381px; background-image: url(img/adv_explane.jpg); margin-bottom:10px;}

/*EOF SERVICE PAGE*/


/*CONTEXT PAGE*/
.adv_item_fon1{background-color:white;}
.adv_item_fon2{background-color:#e9ffd5;}
.adv_item_fon3{background-color:#e8e8e8;}
.adv_item_fon4{background-color:#feffdc;}


.adv_item{margin-top:5px; padding:4px;}
.adv_item .date{float:left; width:120px;}
.adv_item .goods{float:left; width:350px;}
.adv_item .regions{float:left; width:200px;}
.adv_item .price{float:left; width:160px;}
.adv_item .status{float:left; width:100px;}

.adv_shapka{
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background-color: #e0eeb6;
color: #5d773c; font-family: Tahoma; font-size: 13px; font-weight: bold;
border:1px solid #aad063;

}

#context_order_cont{margin-bottom:20px; border-bottom:1px solid #c0c0c0; padding-bottom:10px;}
#context_order_cont #sep{float:left; width:1px;border-left:1px solid #c0c0c0; height:680px;}
#google{float:left; width:450px; padding:0px 10px 0px 10px;}
#yandex{float:left; width:450px; padding:0px 10px 0px 10px;}

.adv_frm_data{width:150px;}
.adv_frm_input{width:250px;}


.white_input{background-color: #fff; border:1px solid #c0c0c0; padding:3px; color:black; font-size: 13px; -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

/*EOF CONTEXT PAGE*/


.frm_punkt{margin-top:20px;}
.frm_punkt .frm_data{float:left; color:black; font-size: 13px; font-weight: bold;}
.frm_punkt .label {margin-top:4px; font-size: 11px; font-weight: normal;}
.frm_punkt .frm_input{float:left;}

.exclam_cont{
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
border:1px solid #cdc9c9; margin: 0px 0px 10px 0px; padding:7px; padding-left:33px;
background-color: #e8e8e8;
background-image: url('img/info.png'); background-repeat:  no-repeat; background-position: 10px 10px;
color: #616161; font-family: Tahoma; font-size: 13px;
text-align: left;
}

.exclam_cont span{font-weight: bold;}

/*PAY PAGE*/
#select_pay_method_cont {margin:20px 0px 20px 50px;}
#select_pay_method_cont div {font-size: 15px; margin-top:10px;}
#select_pay_method_cont .submit{margin-top:30px; font-weight: normal;}

.pay_punkt_name{width:150px; font-size: 15px  !important; color:#5E5E5E  !important; font-weight: normal !important; text-align: right; margin-right:20px;}
.pay_punkt_data{width:750px;  color:black; font-size: 17px; text-align: left; font-weight: bold;}
.pay_punkt_data2{width:750px; text-align: left; font-weight: normal; font-size: 13px;}

.header_simple {font-size: 14px; color:black;font-weight: bold; margin-top:10px; border-bottom:1px solid #e1e1e1;
padding-bottom:5px; margin-bottom:10px}


#pay_data_frm{padding-left:270px;}
#pay_data_frm .submit{margin-left:150px;}


.std_frm_data{width:150px; padding-top:6px; text-align: right; padding-right:10px;}
.std_frm_input{width:250px; width:250px}

.std_frm_input input{ width:250px}


#bill_created{text-align: left; font-size: 13px;}

#bill_created h1{color: #000; font-family: Tahoma; font-size: 20px; font-weight:bold; padding:0px; margin:0px;}
#bill_created span{color: #000; font-family: Tahoma; font-size: 15px; font-weight:bold; }

#bill_created a:link,
#bill_created a:visited{color: #0505ff; font-family: Tahoma; font-size: 16px; font-weight:bold;  text-decoration: underline;}
#bill_created a:hover {text-decoration:none;}


/*EOF PAY PAGE*/


/*MENU*/
.menu{margin-bottom: 15px;
    padding: 0;
    border: none;
    outline: none;}
.menu ul,
.menu li,
.menu a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

/* Menu */
.menu {    
    height: 40px;
    width: 100%;

    
    /*
    background: rgb(128,242,134); 
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgwZjI4NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2OGMyNmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(128,242,134,1) 0%, rgba(104,194,106,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(128,242,134,1)), color-stop(100%,rgba(104,194,106,1))); 
background: -webkit-linear-gradient(top,  rgba(128,242,134,1) 0%,rgba(104,194,106,1) 100%); 
background: -o-linear-gradient(top,  rgba(128,242,134,1) 0%,rgba(104,194,106,1) 100%); 
background: -ms-linear-gradient(top,  rgba(128,242,134,1) 0%,rgba(104,194,106,1) 100%);
background: linear-gradient(to bottom,  rgba(128,242,134,1) 0%,rgba(104,194,106,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80f286', endColorstr='#68c26a',GradientType=0 ); */

   
    background: rgb(200,225,131); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M4ZTE4MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhNWNlNWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(200,225,131,1) 0%, rgba(165,206,92,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(200,225,131,1)), color-stop(100%,rgba(165,206,92,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(200,225,131,1) 0%,rgba(165,206,92,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(200,225,131,1) 0%,rgba(165,206,92,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(200,225,131,1) 0%,rgba(165,206,92,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(200,225,131,1) 0%,rgba(165,206,92,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8e183', endColorstr='#a5ce5c',GradientType=0 ); /* IE6-8 */


    
    
    

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.menu li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    height: 40px;
    text-align:center;
}

/* Links */

.menu li a {
    display: block;
    padding: 0 14px;
    margin: 6px 0;
    line-height: 28px;
    text-decoration: none;
    
    border-left: 1px solid #97b051;
    border-right: 1px solid #97b051;

    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;

    /*color: #325f32;*/
    color: #5d7731;
    
    text-shadow: 2px 2px 6px #fff;

    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

.menu li:first-child a { border-left: none; }
.menu li:last-child a{ border-right: none; }

.menu li:hover > a { color: #000; }

/* Sub Menu */

.menu ul {
    position: absolute;
    top: 40px;
    left: 0;

    opacity: 0;
    
    /*background: #1f2024;*/
    background: #c6e080;

    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;

    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
}

.menu li:hover > ul { opacity: 1; }

.menu ul li {
    height: 0;
    overflow: hidden;
    padding: 0;

    -webkit-transition: height .25s ease .1s;
    -moz-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
}

.menu li:hover > ul li {
    height: 36px;
    overflow: visible;
    padding: 0;
}

.menu ul li a {
    width: 230px;
    padding: 4px 0 4px 15px;
    margin: 0;
    border: none;
    border-bottom: 1px solid #bad276;
    text-align:left;
}

.menu ul li:last-child a { border: none; }

/* Icons */

.menu a.documents { background: url(../img/docs.png) no-repeat 6px center; }
.menu a.messages { background: url(../img/bubble.png) no-repeat 6px center; }
.menu a.signout { background: url(../img/arrow.png) no-repeat 6px center; }







/*EOF MENU*/


/*COMPANIES PAGE*/
.comp_punkts div{margin-top:10px;}
.comp_punkt{margin-top:10px;}
/*EOF COMPANIES PAGE*/


.ui-autocomplete-loading {
    background: white url('/img/ui-anim_basic_16x16.gif') right center no-repeat;
}


/***************** GOODS LIST ****************/
.goods_list{
    list-style-type: none;
    padding: 0px;      
}
                       

.goods_list li .goods_item_price{
    margin-top:0px;
    color: black;
    font-size: 26px; 
}
.goods_list li {
    float: left;
    width: 270px;
    height:430px;
    margin: 0px 10px 0px 10px;
    color: #424242;
    border-bottom: none;
    position:relative;
}  

.goods_list .item_cat_info .item_user{
    margin-top: 4px;
    overflow: hidden;
    max-height:0px;
    transition: all 0.7s linear;
}

.goods_list li .good-cont{
    position:absolute;
    background-color: white;
    top:0;
    left:0;
    padding:20px 10px 40px 10px;
    width:250px;
    box-shadow:0px 0px 5px grey;
    transition: all 0.2s linear;
}
.goods_list li .good-cont:hover {
    box-shadow:0px 0px 15px grey;
}
.goods_list li .good-cont:hover .item_cat_info .item_user{
    overflow: hidden;
    max-height:500px;
}
.goods_list li .good-cont:hover .shadow{
    display:none;
} 
.goods_list li .good-cont:hover .item_cat_h{
    height:auto;
}
 






.goods_list li .good-cont:hover .item_img_goods .order_button_css_cont {
    opacity:1;
}
.goods_list li .item_img_goods .order_button_css_cont {
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    transition: all 0.3s linear;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 9px;
    background-image: url(/img/blank.png);
}
.goods_list li .item_img_goods .order_button_css {
    display: block;
    transition: all 0.3s linear;
    margin:0 auto;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ff9f3f;
    text-decoration:none;
    color:white;
    font-size:20px;
    padding:4px;
    width:140px;
    border-radius:4px;
}
.goods_list li .item_img_goods .order_button_css:hover{
    text-decoration: none;
    background-color: #ff8812;
}










.goods_list li .good-cont .testimonials a{
    text-decoration: none;
}
.goods_list li .good-cont .testimonials a:hover{
    text-decoration: underline;
}
.goods_list li .good-cont .add-to-fav-result{
    margin-top:5px;   
}
.goods_list li .good-cont .add-to-fav-result .add-to-fav{
    border:0px;  
    background-color: white;
    padding-left:33px; 
}
.goods_list li .item_cat_info{
    margin-top: 15px;
}
.goods_list li .item_img_goods{
    height: 250px;
    width: 250px;
    /*background-color: #f7f7f7;*/
    position: relative;
    text-align: center;
    display: table;
}   
.goods_list li .item_img_goods a{
    display: table-cell;   
    vertical-align:middle;
}
.goods_list li .item_img_goods a img{
   display: block; 
   margin: 0 auto;
}
.goods_list li .item_img_goods .discount{
    left: 0px;   
}
.goods_list .relative a{
    display: block;
    height: 250px;
    width: 250px;
}                      
.goods_list .relative img{
    margin: 0 auto;    
}
.goods_list .item_cat_info{ 
    width: 100%;
}
.goods_list .item_cat_info .item_price {  
    float: none;
}
.goods_list .user_phone, .goods_list .user_phones{
    font-weight: bold;
    line-height:25px;
    max-height:46px;
    overflow: hidden;
}

/***************** EOF GOODS LIST ****************/




.add-to-fav {
    font-size: 11px !important;
    border-radius: 4px;
    padding: 3px 10px 3px 38px;
    border: 1px solid #80e5a6;
    display: inline-block;
    line-height: 26px;
    background: #cbf4da url("/img/star_green.png") 6px 6px no-repeat;
    color: #019d3c !important;
    font-weight: bold;  
    text-decoration: none!important;
    /*opacity: 0.5;*/  
    transition: all 0.3s linear; 
}
.add-to-fav:hover {
    color:black!important;
    /*opacity: 1;*/
}



.item-testimonial-block{
    font-size:13px;
    font-weight:normal;
}

.add-testimonial-btn{
   display:inline-block;
   text-decoration: none!important;
   height:35px;  
   margin:0 10px 0 -10px; 
   font-size: 15px !important;
    border-radius: 4px;
    padding: 8px 10px 3px 42px;
    border: 1px solid #cfcfcf;
    line-height:17px;
    background: #e0e0e0 url("/img/testimonial_add.png") 5px 1px no-repeat;
    color: #656565 !important;
    font-weight: 500;
      -moz-box-sizing: border-box;
    box-sizing: border-box;  
    text-decoration: none!important;
    transition: all 0.3s linear; 
     
}
.add-testimonial-btn:hover {
    color:black!important;
    background-color: #d1d1d1;
}



.popup-form h2 {
    font-weight:500;
    font-size:20px;
}
.popup-form ul{
    padding:0;
    margin:0;
    margin-top:40px;
}
.popup-form ul li{
    margin-bottom:20px;
}
.popup-form ul {
    list-style: none;
}
.popup-form ul input{
    height:40px;      
}
.popup-form ul input, .popup-form ul textarea{
    width:350px;
    font-size:17px;
    padding:0 10px 0 10px;
}
.popup-form ul textarea{
    height:100px;
    padding-top:10px;
}
.popup-form .result-send-mess{
    margin-top:20px;
}




