
<?if($success):?>
    <div class='success_cont'><?echo $success?></div>
<?endif;?>

<?if($error):?>
    <div class='error_cont'><?echo $error?></div>
<?endif;?>

<?if(mysql_numrows($main_cats_data)):?>
<div class="lk-cats">
    <ul class="main-cats">
        <?while($main_cat=mysql_fetch_array($main_cats_data)):?>
            <?$main_cat_name=Out($main_cat['name']);?>
            <li data-id="<?echo $main_cat['id']?>">
                <div class="sort_handle">
                    <a class="main-cat-a" href='<?echo getUserCatUrl(getUserID(),getUserSiteAddress(),$main_cat['id'],$main_cat_name)?>'><?echo $main_cat_name?></a>
                    <a href='index.php?page=edit_cat&id=<?echo $main_cat['id']?>'><img src='img/edit.png'></a>
                    <a class='remove_cat' href='#' rel='<?echo $main_cat['id']?>'><img src='img/close_red.png'></a>
                </div>
                
                <?if(mysql_numrows($child_cats_data)):?>
                    <?mysql_data_seek($child_cats_data,0);?>
                    <ul class="sub-cats">
                    <?while($sub_cat=mysql_fetch_array($child_cats_data)):?>
                        <?if($sub_cat['parent_id']==$main_cat['id']):?>
                            <?$sub_cat_name=Out($sub_cat['name']);?>
                            <?$sub_cat_count=$sub_cat['count'];?>
                            <li data-id="<?echo $sub_cat['id']?>">
                                <div class="sort_handle">
                                    <a href='<?echo getUserCatUrl(getUserID(),getUserSiteAddress(),$sub_cat['id'],$sub_cat_name)?>'><?echo $sub_cat_name?> <?if($sub_cat_count) echo "({$sub_cat_count})";?></a>
                                    <a href='index.php?page=edit_cat&id=<?echo $sub_cat['id']?>'><img src='img/edit.png'></a>
                                    <a class='remove_cat' href='#' rel='<?echo $sub_cat['id']?>'><img src='img/close_red.png'></a>
                                </div>
                            </li>
                        <?endif;?>
                    <?endwhile;?>
                    </ul>
                <?endif;?>
            </li>
            
        <?endwhile;?>
    </ul>    
</div>
<?endif;?>
