<li>
    <div>
        <?if($item_date):?><span class='date'><?echo $item_date?></span> - <?endif;?>
        <a href='<?echo getMacronewsItem($item['id'])?>'><?echo $item['name']?></a>
    </div>
    <?if($item['short_text']):?>
        <div class='<?if(short_text):?>short_<?endif;?>text'><?echo $item['short_text']?></div>
    <?endif;?>
</li>